/* doctorDashboard.css */

/* Réinitialisation globale et styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Mise en page */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

/* Barre de recherche et filtres */
#searchBar {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#todayButton, #datePicker {
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#todayButton {
    background-color: #015c5d;
    color: white;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

#todayButton:hover {
    background-color: #017d7e;
}

#datePicker {
    padding: 10px;
    height: 30px;
}

/* Tableau des patients */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
}

thead {
    background-color: #33333310;
    color: white;
}

td, th {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f959;
}

tbody tr:nth-child(odd) {
    background-color: #ffffffc0;
}

tbody tr:hover {
    background-color: #015c5d39;
}

/* Boutons Prescription */
.prescription-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.prescription-btn:active {
    transform: scale(0.95);
}

/* Message quand pas d’enregistrement */
.noPatientRecord {
    font-size: 16px;
    font-style: italic;
    color: grey;
}

/* Conception responsive */
@media (max-width: 768px) {
    #searchBar, #todayButton, #datePicker {
        width: 100%;
        margin-bottom: 10px;
    }

    table, td, th {
        font-size: 14px;
    }
}
